<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue.js</title>
</head>
<body>
    <div id="app">
        <div>
            <global-component></global-component>
            <local-component></local-component>
        </div>
        <br>
        <div>
            <render-title content="This is title!"></render-title>
        </div>
    </div>
    <!-- scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <!-- /scripts -->
</body>
</html>