<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue.js</title>
</head>
<body>
    <!-- app -->
    <div id="app">
        {{ message }}
        <button v-on:click="reverseMessage">Reverse</button>
        <br>
        <span v-bind:title="tooltipMessage">Show tooltip message</span>
        <br>
        <span v-if="seen">I'm visible</span> <!-- app.seen = false; // in console -->
        <br>
        <ul v-for="item in list">
            <li>{{ item.content }}</li> <!-- app.list.push({content: 'item 4'}); // in console -->
        </ul>
        <br>
        <p>{{ userMessage }}</p>
        <input v-model="userMessage">
    </div>
    <!-- /app -->
    <!-- scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <!-- /scripts -->
</body>
</html>